<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <link rel="stylesheet" href="asserts/css/bootstrap.min.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="container">

  <div class="col-md-12">
    <div class="page-header" >
      <h1>Avaya J系列话机注册</h1>
      <h3> POC平台～话机HTTP服务器地址填写：111.207.158.188
        <br>
        对应文件：http://111.207.158.188/46xxsettings.txt
      </h3>


    </div>

    <img class="img-responsive" src="images/96xx.jpg" alt="Avaya J系列话机注册">

  </div>
</div>

</body>
</html>